h3{
    color :black;
    background-color:blue;}

#tieude-1{
    color:red;
    background-color:green;}

#tieude-2{
    color:white;
    background-color:green;}

div.Web4 {
    color:white;
    background-color:green;}



   